.bet-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.bet-button {
  background-color: #4CAF50; /* Color de fondo verde normal */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease; /* Transición suave para cambios de color */
}

.bet-button.selected {
  background-color: #006400; /* Color de fondo verde oscuro cuando está seleccionado */
}

.bet-button:hover {
  background-color: #3e8e41; /* Color de fondo más oscuro al pasar el mouse */
}

/* Estilos específicos para diferentes apuestas */

.bet-button.apuesta-5.selected {
  background-color: #006400; /* Verde oscuro para la apuesta seleccionada de 5 */
}

.bet-button.apuesta-15.selected {
  background-color: #004d00; /* Verde más oscuro para la apuesta seleccionada de 15 */
}

.bet-button.apuesta-30.selected {
  background-color: #003300; /* Verde aún más oscuro para la apuesta seleccionada de 30 */
}
